<header id="cabecalho">
    <div id="logo">
        Esportealterad <span
        id="titulo-logo">ao Ar Livre</span>
    </div>

    <nav id="menu">
        <ul id="ul-menu">
            <li><a routerLink="/home" class="Ink-menu"> Home </a></li>
            <li><a routerLink="/cadastroAtleta" class="Ink-menu"> Cadastro do Atleta </a></li>
            <li><a routerLink="/corridaAtleta" class="Ink-menu"> Cadastro das Corridas </a></li>
            <li><a routerLink="" class="Ink-menu"> Corridas </a></li>
            <li><a routerLink="" class="Ink-menu"> Inscrições </a></li>
        </ul>
    </nav>

</header>